<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="４研の在室管理をするシステム">
        <title>在室管理・部屋予約システム</title>

        <!-- css -->
        <link href = "https://fonts.googlepis.com/css?family=Philosopher" rel = "stylesheet">
        <link href = "../static/css/index.css" rel = "stylesheet">
        <link rel="ikon" type="image/png" href="images/kit.png">

    </head>

    <body>
        <h1>在室管理・部屋予約システム</h1>

        <div class = "wrapper">
            <label for ="student_id">学籍番号:</label>
            <input type="text" id="student_id" name="student_id" required>
            <input type="submit" value="ログイン">
            <!-- {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %} -->
        </div>
        
    </body>
</html>
